<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>C5EB7A06CEC401D5BCA7F09C6E4538AB</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
